*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    align-items: center;
}

.column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.first-part{
    height: 10vh;
    justify-content: space-between;
    width: 100%;
}

.menu{
    padding-right: 80px;
}

.first-part h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    color: #bcbcbc;
    padding-left: 80px;
}

.image-new{
    justify-content: space-between;
}

.next-part{
    background: url(../IMG/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.text{
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 68px;
    font-weight: lighter;
    width: 100%;
}

.text-next{
    font-family: 'Archivo Black', sans-serif;
    font-size: 98px;
    font-weight: bolder;
    color: white;
    width: 70%;
    margin-bottom: 20px;
    height: max-content;
}

.box{
    height: 10px;
    width: 45%;
    background-color: white;
    border: solid white;
    margin-bottom: 40px;
} 

.image-new{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55%;
    align-items: flex-start;
}

.images{
    width: 80%;
    height: 50%;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-top: 200px;
}

.swag{
    color: white;
    width: 50%;
}

.new-text{
    padding: 20px 0;
    font-family: roboto,sans-serif;
    font-weight: 100;
    font-size: 18px;
}

.second-section{
    min-height: 80vh;
    background-color: #f5f5f5;
   text-align: center;
   justify-content: space-around;
}

.first-swag{
    margin: 140px 0 0 0;
    color: gray;
    font-family: roboto,sans-serif;
    font-weight: 100;
    font-size: 19px;
    text-align: center;
}

.second-swag{
    font-size: 45px;
    font-family: Roboto,sans-serif;
    text-align: center;
}

.third-swag{
    width: 60%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 1;
    line-height: 1.6;
    text-align: center;
}

.first-button{
    height: 50px;
    width: 140px;
    background-color: #e71a23;
    color: white;
    font-weight: 700;
    align-items: center;
    border-style: solid;
    border-color: #e71a23;
    letter-spacing: 1px;
    border-radius: 3px;
    margin: 0 0 40px 0;
}

#third-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-wrap{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    min-height: 100%;
}

.text-three{
    font-family: 'open sans', sans-serif;
    font-size: 18px;
    width: 85%;
    line-height: 1.6;
}

.cad-two, .cad-one{
    width: 45%;
    display: flex;
    flex-direction: column;
}

.cad-one{
    justify-content: center;
    align-items: center;
    
}

.cad-two{
    justify-content: space-around;
    align-items: flex-start;
}

.cad-two h1{
    font-size: 2.5rem;
    font-weight: 700;
}
.cad-two h2{
    font-size: 2rem;
    color: #e71a23;

}
.cad-one p{
    padding: 4em 2em;
}

.pic-one, .pic-two{
    width: 100%;
    height: 100%;
}

.sect-xyz{
    min-height: 100vh;
    background-image: url(../IMG/g.jpg);
}

.quality-vibe {
    max-width: 100%;
}

.quality-vibe div{
    min-width: 45%;
    text-align: left;
    max-height: 100%;
}

.new-img{
    background: url(../IMG/billionphotos1079319min.png);
    height: 100vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.others{
    margin: auto;
    width: 60%;
}

.restr-text{
    width: 90%;
    padding: 30px 0px 20px;
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.5px;
}


.best-text{
    font-family: roboto,sans-serif;
    font-size: 70px;
    padding: 30px 0;
    color: #104e92;
    border-bottom: 10px solid red;
    width: 70%;
}

.book-but{
    height: 50px;
    width: 140px;
    background-color: #e71a23;
    color: white;
    font-weight: 700;
    border-style: solid;
    border-color: #e71a23;
    letter-spacing: 1px;
    border-radius: 3px;
}

.fourth-part{
    height: 80vh;
    align-items: flex-start;
    padding: 7.5rem;
    max-width: 100%;
}

.display{
    justify-content: center;
    width: 100%;
}

.service{
    font-size: 50px;
    font-family: 'roboto', sans-serif;
    padding-left: 25px;
}

.round-img{
    background: #e71a23;
    color: white;
    border-radius: 50%;
    padding: 20px;
    margin: 30px 10px ; 
}

.moove{
    font-size: 24px;
    font-family: 'roboto', sans-serif;
    margin-bottom: 0.5em;
}

.composed{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 1.6;
    font-weight: lighter;
}

.space{
    align-items: flex-start;
    width: 100%;
    padding: 1em;
}

.sparks{
    background: #e71a23;
    color: white;
    border-radius: 50%;
    padding: 25px;
}

.screw{
    background: #e71a23;
    color: white;
    border-radius: 50%;
    padding: 25px;
}

 .blue{
    background-color: #104e92;
    height: 100vh;
    display: flex;
    max-width: 100%;
}

.imagess{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    max-height: 80%;
    max-width: 60%;
    margin: auto;

}

.image-1{
    background: url(../IMG/frg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 230px;
}

.image-2{
    background: url(../IMG/rg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 230px;
}

.image-3{
    background: url(../IMG/billionphotos1882993.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 230px;
}

.image-4{
    background: url(../IMG/billionphotos1882951.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 230px;
}

.texts{
    max-width: 40%;
    margin: auto;
}

.two{
    font-family: Roboto,sans-serif;
    font-size: 100px;
    color: white;
    line-height: 1;
    font-weight: lighter;
    letter-spacing: 1px;
}

.bold{
    font-size: 100px;
    font-weight: 550;
    font-family: Roboto,sans-serif;
    color: white;
}

.one{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 1px;
}

#final{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rbt-text{
    font-family: Roboto,sans-serif;
    font-size: 36px;
    word-wrap: break-word;
    width: 90%;
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
    margin: auto;
}

.ops-txt{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    width: 50%;
    text-align: center;
    word-wrap: wrap;
    padding: 20px 0;
    font-weight: 100px;
    line-height: 1.6;
    margin: auto;
}

.buttonss{
    margin-top: 20px;
}

.bt-one{
    height: 50px;
    width: 140px;
    background-color: #e71a23;
    color: white;
    font-weight: 700;
    border-style: solid;
    border-color: #e71a23;
    letter-spacing: 1px;
    border-radius: 3px;
    padding-right: 5px;
}

.bt-two{
    height: 50px;
    width: 140px;
    background-color: white;
    color: grey;
    font-weight: 700;
    border-style: solid;
    border-color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    padding-left: 5px;
}

@media(max-width: 770px) {
    .next-part{
        min-width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .text{
        font-size: 34px;
    }

    .text-next{
        font-size: 49px;
    }

    .first-swag{
    }

    .cad-two h1{
        font-size: 1.8rem;
    }

    .cad-two h2{
        font-size: 1.8rem;
    }

    .cad-one p{
        padding: 2em 1em;
        font-size: 1rem;
        width: 100%;
    }

    .new-img{
        padding: 50px 0 0 0;
        height: 100vh;
        background-size: cover;
        background-position: center;
        width: 80%;
    }

    .best-text{
        font-size: 45px;
        border-bottom: 5px solid red;
        padding: 15px 0;
    }

    .restr-text{
        width: 100%;
        font-size: 16px;
    }

    .fourth-part{
        height: 100vh;
        margin: 0 ;
        padding: 2.5rem;
    }

    .space{
        height: 20%;
        width: 100%;
    }

    .display: {
        width: 100%;
    };

    .composed{
        width: 100%;
    }

    .blue{
        height: 124vh;
        display: flex;
        flex-direction: column
    }

    .two{
        font-size: 60px;
        padding-right: 20px;
    }

    .texts{
        max-width: 80%;
        max-height: 20%;
        margin: 50px 20px 20px 20px;

    }

    .bold{
        font-size: 60px;
    }

    .swish{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imagess{
        margin: 20px;
        max-width: 80%;
    }
}

@media(max-width: 430px) {
    .menu{
        padding-right: 20px;
    }

    .first-part h1{
        padding-left: 20px;
    }

    .next-part{
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -450px;
    }

    .image-new{
        display: none;
    }

    .images{
        height: 100%;
        justify-content: flex-end;
        margin: 400px 20px 0;
        width: 80%;
    }

    .text{
        font-weight: 500;
        font-size: 35px;
    }

    .text-next{
        margin-bottom: 10px;
    }

    .box{
        width: 100%;
        margin-bottom: 10px;
    }

    .first-swag{
        margin: 40px 0 0 0;
    }

    .second-swag{
        font-size: 35px;
    }

    .third-swag{
        width: 80%;
        font-size: 15px;
    }

    .third-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pic-one, .pic-two{
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }

    .cad-one, .cad-two{
        width: 90%;
    }

    .cad-one p{
        padding: 1em;
    }

    .cad-two h1{
        font-size: 1.5rem;
        margin: 10px 0;
    }

    .cad-two h2{
        font-size: 1.3rem;
    }

    .quality-vibe{
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .sect-xyz{
        height: 100vh;
    }

    .new-img{
        height: 45vh;
        width: 80%;
        background-position: center;
        background-size: contain;
        padding: 0;
    }

    .best-text{
        font-size:40px ;
        text-align: left;
        padding: 15px 0;
        color: #104e92;
        border-bottom: 5px solid red;
        width: 100%;
    }

    .others{
        width: 80%;
        align-items: center;
    }

    .restr-text{
        font-size: 15;
        padding: 10px 0;
    }

    .book-but{
        text-align: center;
        height: 40px;
        width: 110px;
        background-color: #e71a23;
        color: white;
        font-weight: 700;
        border-style: solid;
        border-color: #e71a23;
        letter-spacing: 1px;
        border-radius: 3px;
        margin: 15px 110px;
    }

    .fourth-part{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding: 0.5rem;
    }

    .service{
        text-align: center;
        font-size: 28px;
    }

    .display{
        display: flex;
        flex-direction: column;
        height: 90%;
        padding: 20px;
    }

    .space{
        width: 100%;
        height: 32%;
        margin: 9px 0;
    }

    .round-img{
        margin: 3px 0;
        padding: 5px;
    }

    .moove{
        font-size: 17px;
        margin: 2px 0;
    }

    .composed{
        font-size: 14px;
        margin: 2px 0;
    }

    .blue{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .texts{
        display: flex;
        flex-direction: column;
    }

    .swish{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        width: 100%;
    }

    .imagess{
        display: flex;
        flex-direction: column;
        height: 65%;
        width: 40%;
        background-size: contain;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
    }

    .image-2{
        background-size: cover;
        background-position-y: top;
    }

    .image-3{
        background-size: cover;
        background-position-y: 30%;
    }

    .one{
        margin-bottom: 20px;
    }

    .rbt-text{
        font-size: 30px;
        width: 100%;
    }

    .ops-txt{
        font-size: 20px;
        width: 90%;
    }
}