*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#first-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12vh;
    margin: auto;
}

.menu{
    position: relative;
    left: 1220px;
    padding: 30px;
}

.logo{
    position: relative;
    right: 1160px;
    padding: 15px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    color: gainsboro;

}

#next-part{
    background: url(../IMG/hero-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 110vh;
    width: 100%;
}

.text{
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 65px;
    font-weight: lighter;
    position: relative;
    top: 260px;
    left: 100px;
    width: 50%;
}

.text-next{
    font-family: 'Archivo Black', sans-serif;
    font-size: 95px;
    color: white;
    position: relative;
    left: 100px;
    top: 245px;
    width: 50%;
}

.box{
    height: 10px;
    width: 45%;
    background-color: white;
    position: relative;
    top: 260px;
    left: 100px;
}

.images{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 50%;
    position: relative;
    top: 290px;
    left: 110px; 
    align-items: center;
}

.swag{
    color: white;
    display: flex;
    width: 50%;
    
}

.new-text{
    padding: 20px;
    position: relative;
    top: 85px;
    right: 105px;
    font-family: roboto,sans-serif;
    font-weight: 100;
    font-size: 18px;
}

#second-section{
    height: 80vh;
    background-color: #f5f5f5;
    text-align: center;
}

.first-swag{
    padding: 170px 60px 30px 60px;
    color: gray;
    font-family: roboto,sans-serif;
    font-weight: 100;
    font-size: 19px;
    text-align: center;
}

.second-swag{
    font-size: 45px;
    padding: 0px 60px 30px 60px;
    font-family: Roboto,sans-serif;
    text-align: center;
}

.third-swag{
    width: 60%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 1;
    line-height: 1.6;
    position: relative;
    left: 270px;
    margin: 0 0 40px 0;
    text-align: center;
}

.first-button{
    height: 50px;
    width: 140px;
    background-color: #e71a23;
    color: white;
    font-weight: 700;
    align-items: center;
    border-style: solid;
    border-color: #e71a23;
    letter-spacing: 1px;
    border-radius: 3px;
}

#third-section{
    height: 90vh;
    position: relative;
    display: block;
}

.vex-div{
    height: 70vh;
} 

.pic-one{
    position: relative;
    padding: 20px;
    left: 160px;
    top: 20px;
}

.text-one{
    position: relative;
    text-align: end;
    bottom: 320px;
    right: 230px;
    font-size: 40px;
}

.text-two{
    position: relative;
    text-align: end;
    bottom: 300px;
    right: 245px;
    font-size: 33px;
    color: #e71a23;
    font-family: roboto,sans-serif;

}

.text-three{
    width: 28%;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    letter-spacing: 0.2px;
    font-size: 16px;
    color: #111111;
    position: relative;
    left: 280px;
    bottom: 20px;
}

.pic-two{
    position: relative;
    padding: 20px;
    left: 695px;
    bottom: 300px;
}

#quality-vibe{
    background: url(../IMG/billionphotos1079319min.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}