*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    align-items: center;
}

.column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pad{
    padding: 15px;
}

.first-part{
    height: 10vh;
    justify-content: space-between;
    width: 100%;
}

.menu{
    padding-right: 80px;
}

.first-part h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    color: #bcbcbc;
    padding-left: 80px;
}

.image-new{
    justify-content: space-between;
}

.next-part{
    background: url(../IMG/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.text{
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 68px;
    font-weight: lighter;
    width: 100%;
}

.text-next{
    font-family: 'Archivo Black', sans-serif;
    font-size: 98px;
    font-weight: bolder;
    color: white;
    width: 70%;
    margin-bottom: 20px;
    height: max-content;
}

.box{
    height: 10px;
    width: 45%;
    background-color: white;
    border: solid white;
    margin-bottom: 40px;
} 

.image-new{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55%;
    align-items: flex-start;
}

.images{
    width: 80%;
    height: 50%;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-top: 200px;
}

.swag{
    color: white;
    width: 50%;
}

.new-text{
    padding: 20px 0;
    font-family: roboto,sans-serif;
    font-weight: 100;
    font-size: 18px;
}

.plus-section{
    max-width: 100%;
}

.second-section{
    min-height: 80vh;
    background-color: #f5f5f5;
   text-align: center;
   justify-content: space-around;
}

.first-swag{
    margin: 100px 0 0 0;
    color: gray;
    font-family: roboto,sans-serif;
    font-weight: 100;
    font-size: 19px;
    text-align: center;
}

.second-swag{
    font-size: 45px;
    font-family: Roboto,sans-serif;
    text-align: center;
}

.third-swag{
    width: 60%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 1;
    line-height: 1.6;
    text-align: center;
}

.first-button{
    height: 50px;
    width: 140px;
    background-color: #e71a23;
    color: white;
    font-weight: 700;
    align-items: center;
    border-style: solid;
    border-color: #e71a23;
    letter-spacing: 1px;
    border-radius: 3px;
    margin: 0 0 40px 0;
}

.third-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-wrap{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    min-height: 100%;
}

.text-three{
    font-family: 'open sans', sans-serif;
    font-size: 18px;
    width: 85%;
    line-height: 1.6;
}

.cad-two, .cad-one{
    width: 45%;
    display: flex;
    flex-direction: column;
}

.cad-one{
    justify-content: center;
    align-items: center;
    
}

.cad-two{
    justify-content: space-around;
    align-items: flex-start;
}

.cad-two h1{
    font-size: 2.5rem;
    font-weight: 700;
}
.cad-two h2{
    font-size: 2rem;
    color: #e71a23;

}
.cad-one p{
    padding: 4em 2em;
}

.pic-one, .pic-two{
    width: 100%;
    height: 100%;
}

.sect-xyz{
    min-height: 100vh;
    background-image: url(../IMG/g.jpg);
}

.quality-vibe {
    max-width: 100%;
}

.quality-vibe div{
    width: 45%;
    text-align: left;
    max-height: 100%;
}

.new-img{
    background: url(../IMG/billionphotos1079319min.png);
    height: 100vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.others{
    margin: auto;
    width: 60%;
}

.restr-text{
    width: 90%;
    padding: 30px 0px 20px;
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

.best-text{
    font-family: roboto,sans-serif;
    font-size: 70px;
    padding: 30px 0;
    color: #104e92;
    border-bottom: 10px solid red;
    width: 70%;
}

.book-but{
    height: 50px;
    width: 140px;
    background-color: #e71a23;
    color: white;
    font-weight: 700;
    border-style: solid;
    border-color: #e71a23;
    letter-spacing: 1px;
    border-radius: 3px;
}

.fourth-part{
    align-items: flex-start;
    padding: 4rem;
    max-width: 100%;
}

.display{
    justify-content: center;
    width: 100%;
    margin-bottom: 3px;
}

.service{
    font-size: 50px;
    font-family: 'roboto', sans-serif;
    padding-left: 25px;
}

.round-img{
    background: #e71a23;
    color: white;
    border-radius: 50%;
    padding: 20px;
    margin: 30px 10px ; 
}

.moove{
    font-size: 24px;
    font-family: 'roboto', sans-serif;
    margin-bottom: 0.5em;
}

.composed{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    line-height: 1.6;
    font-weight: lighter;
}

.space{
    align-items: flex-start;
    width: 100%;
    padding: 1em 1.5em;
}

.sparks{
    background: #e71a23;
    color: white;
    border-radius: 50%;
    padding: 25px;
}

.screw{
    background: #e71a23;
    color: white;
    border-radius: 50%;
    padding: 25px;
}

 .blue{
    background-color: #104e92;
    height: 100vh; 
    display: flex;
    max-width: 100%;
}

.imagess{
    display: grid;
    grid-template-columns: auto auto; 
    grid-gap: 25px;
    margin: auto;
}

.image-1{
    background: url(../IMG/frg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 230px;
}

.image-2{
    background: url(../IMG/rg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 230px;
}

.image-3{
    background: url(../IMG/billionphotos1882993.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 230px;
}

.image-4{
    background: url(../IMG/billionphotos1882951.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 230px;
}

.texts{
    width: 40%;
    margin: auto;
}

.two{
    font-family: Roboto,sans-serif;
    font-size: 100px;
    color: white;
    line-height: 1;
    font-weight: lighter;
    letter-spacing: 1px;
}

.bold{
    font-size: 100px;
    font-weight: 550;
    font-family: Roboto,sans-serif;
    color: white;
}

.one{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 1px;
}

.final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rbt-text{
    font-family: Roboto,sans-serif;
    font-size: 36px;
    word-wrap: break-word;
    width: 90%;
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
    margin: 20px auto;
}

.ops-txt{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    width: 65%;
    text-align: center;
    word-wrap: wrap;
    padding: 20px 0;
    font-weight: 100px;
    line-height: 1.6;
    margin: 0 auto 20px;
}

.buttonss{
    margin-top: 20px;
}

.bt-one{
    height: 50px;
    width: 140px;
    background-color: #e71a23;
    color: white;
    font-weight: 700;
    border-style: solid;
    border-color: #e71a23;
    letter-spacing: 1px;
    border-radius: 3px;
    padding-right: 5px;
}

.bt-two{
    height: 50px;
    width: 140px;
    background-color: white;
    color: grey;
    font-weight: 700;
    border-style: solid;
    border-color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    padding-left: 5px;
}

@media screen and (max-width: 770px) {
    .text{
        font-size: 48px;
    }

    .text-next{
        font-size: 80px;
    }

    .box{
        width: 70%;
    }

    .swag{
        margin: 0 30px;
    }
    
    
    .third-swag{
        width: 90%;
    }
    
    .third-wrap{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .first-pic{
        margin: 60px 0 0;
        width: 75%;
    }

    .second-pic{
        margin: 0 0 60px;
        width: 75%;
    }

    .text-three{
        font-size: 14px;
    }

    .text-two{
        margin: 10px 0 15px;
    }

    .cad-one, .cad-two{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .cad-one p{
        padding: 2em;
    }
    
    .text-one{
        margin: 10px 0;
    }
    
    
    .fourth-part{
        height: 92vh;
        padding: 7%;
    }
    
    
    .blue{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .texts{
        margin: 20px 15% 10px ;
        width: 68%;
    }

    .swish{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: space-between;
        width: 100%;
    }

    .two{
        font-size: 60px;
    }

    .bold{
        font-size: 60px;
    }


    .image-1{
        width: 250px;
        height: 195px;
    }

    .image-2{
        width: 250px;
        height: 195px;
    }    

    .image-3{
        width: 250px;
        height: 195px;
    }    
    
    .image-4{
        width: 250px;
        height: 195px;
    }

    .sect-xyz{
        display: flex;
        flex-direction: row;
    }

    .others{
        width: 30%;
    }

    .quality-vibe{
        width: 90%;
    }

    .best-text{
        font-size: 50px;
    }

    .restr-text{
        font-size: 18px;
    }

    .new-img{
        background-size: cover;
    }

}

@media screen and (max-width: 470px) {
    .menu{
        padding-right: 40px;
    }
    
    .first-part h1 {
        padding-left: 40px;
    }
    
    .images{
        margin: 360px auto 0;
    }
    
    .next-part{
        background-position: 81.49% 50%;
    }
    
    .image-new{
        display: none;
    }
    
    .text-next{
        font-size: 58px;
    }

    .text{
        font-size: 36px;
    }

    .box{
        width: 100%;
    }

    .second-section{
        height: 100vh;
    }

    .first-swag{
        margin: 50px 0 0;
    }

    .second-swag{
        width: 80%;
    }

    .third-swag{
        width: 78%;
    }
    
    .cad-two h1{
        font-size: 30px;
    }

    .cad-two h2{
        font-size: 24px;
    }

    .sect-xyz{
        height: 140vh;
        display: flex;
        flex-direction: column;
    }

    .quality-vibe{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .quality-vibe div{
        width: 100%;
    }

    .new-img{
        height: 55vh;
        background-size: contain;
        background-position: center;
    }

    .others{
        padding: 10%;
    }

    .fourth-part{
        height: fit-content; 
    }

    .display{
        display: flex;
        flex-direction: column;
    }

    .space{
        padding: 0;
        margin: 10px 20px;
        width: 90%;
    }

    .blue{
        height: fit-content; 
        padding: 15px;
    }

    .two, .bold{
        font-size: 60px;
    }

    .one{
        font-weight: lighter;
    }
    
    .imagess{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .swish{
        width: 63%;
        display: flex;
        flex-direction: column;
    }

    .final{
        height: fit-content;
    }

    .ops-txt{
        width: 90%;
    }

    .buttonss{
        display: flex;
        flex-direction: column;
    }

    .bt-one, .bt-two{
        margin-bottom: 25px;
    }


}

@media screen and (max-width: 378px) {
    .imagess{
        width: 100%;
        align-items: center;
    }

    .service{
        padding: 0;
    }
}

@media screen and (max-width: 322px)  {
    .text{
        font-size: 30px;
    }

    .text-next{
        font-size: 48px;
        width: 100%;
        margin-bottom: 10px;
    }

    .service{
        font-size: 40px;
    }

    .texts{
        width: 100%;
        margin: 0;
        padding: 15px 25px;
    }

    .rbt-text{
        font-size: 36px;
    }

    .ops-txt{
        font-size: 20px;
    }

}

